version: '3.8'

services:
  # ETL File Sync (Kafka + Consumer)
  etl-file-sync:
    image: etl-file-sync:latest
    container_name: etl-test
    ports:
      - "9092:9092"
    environment:
      # FTP settings (use real FTP server)
      - FTP_PASSIVE_MODE=true
      - DLQ_TOPIC_SUFFIX=-dlq
      - SRC_FTP_SERVER1_TYPE=ftp
      - SRC_FTP_SERVER1_HOST=192.168.1.4
      - SRC_FTP_SERVER1_PORT=21
      - SRC_FTP_SERVER1_USER=user01
      - SRC_FTP_SERVER1_PASS=Votmdnjem01!
      - DST_FTP_SERVER1_TYPE=ftp
      - DST_FTP_SERVER1_HOST=192.168.1.4
      - DST_FTP_SERVER1_PORT=21
      - DST_FTP_SERVER1_USER=user02
      - DST_FTP_SERVER1_PASS=Votmdnjem02!
    command: ["test-transfer", "test-group", "localhost:9092"]
    networks:
      - etl-test-net
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  etl-test-net:
    driver: bridge
